#main-container{
    height: 100%;
    display:flex;
    justify-content: center;
    align-items:center;
    img{
        width:200px;
    }
    form {
        width: 300px;
        display: flex;
        flex-direction:column;
        input{
            height: 48px;
            border: 1px solid #ddd;
            border-radius:4px;
            font-size: 16px;
            padding: 0 20px;
            margin-top:30px;
        }
        button{
            height: 48px;
            border-radius:4px;
            background: #7159c7;
            font-size: 16px;
            padding: 0 20px;
            margin-top:10px;
            color:#fff; 
            border:0;
            cursor: pointer;
            font-weight: bold;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}

